.footer{
    background-color:#000000;;
    &__title{
        color:#FEFEFE;
        text-align: center ;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 38px;
    }
    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: $color-zircon;
        line-height: 20px;
        margin: 8px 27px 26px 37px;
    }
    &__images{
        display: flex;
        margin: 0 -3px;
        flex: 1 1 auto;
       justify-content: center;
       margin-bottom: 26px;
       &__icon{
        flex: 0 0 auto;
  margin: 0 3px;
       }
    }
    &__contacts{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $color-zircon;
        margin: 8px 27px 0px 37px;
        padding-bottom: 48px;

    }
}