.header {
  margin: 0px 27px 0px 37px;
  &__nav {
    display: flex;
    justify-content: end;
    &__image {
      width: 100%;
      margin: 23 28 38 28;
    }
    &__burger {
      cursor: pointer;
      margin-top: 23px;
      margin-bottom: 23px;
      font-size: 24px;
      color: #ffffff;
      background-color: rgb(0, 0, 0);
      padding: 8px 12px;
      &--active {
        display: inline-block;
      }
    }

    &__list {
      position: absolute;
      top: 66px;

      flex-direction: column;
      background-color: #f5f5f5;
      padding: 0;
      width: 182px;
      margin: 0;
      display: none;
      &--active {
        display: flex;
      }
    }
    &__link {
      width: 100%;
      text-transform: uppercase;
      padding: 8px 12px;
      color: $color-gray;
      list-style: none;
      cursor: pointer;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    margin: 0px 27px 0px 37px;
    &__nav {
      display: flex;
      justify-content: end;
      &__image {
        width: 100%;
        margin: 23 28 38 28;
      }
      &__burger {
        display: none;
        margin-top: 23px;
        margin-bottom: 23px;
        &--active {
          display: none;
        }
      }

      &__list {
        position: static;
        width: 100%;
        margin: 43px auto;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        justify-content: space-evenly;
        padding: 0;
        text-align: center;
      }
      &__link {
        width: 100%;
        padding: 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;

        letter-spacing: 1.1px;
        text-transform: uppercase;
        &:hover {
            background-color: #ffffff;
            color: #57A4A4
            ;
          }
      }
    }
  }
}
