.gallery {
  &__section {
    margin: 0px 27px 0px 37px;
    &__container {
      margin-top: 77px;
      margin-bottom: 13px;
    }
    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      color: $color-gray;
    }
    &__more {
      display: none;
    }
    &__images {
      width: 201px;
      margin-bottom: 42px;
      &--hidden {
        display: none;
        
      }
      &--last {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .gallery {
    background-color: #f7f7f7;
    &__section {
      margin: 0px 27px 0px 37px;

      &__more {
        display: inline-block;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: $color-gray;
      }
      &__container {
        display: flex;
        justify-content: space-between;
      }

      &__photo {
        display: flex;

     
      }

      &__images {
        // width: 301px;
        height: 301px;
        width: 32.5%;
        margin-right: 10px;

        &--hidden {
          display: inline-block;
        }
        &--last {
            display: none;
          }
      }
    
    }
  }
}
@media (min-width: 1200px) {
    .gallery {
      background-color: #f7f7f7;
      &__section {
        &__images {
         
            width: 24.5%;
          &--last {
              display: inline-block;
            }
        }
      
      }
    }
  }