.main{
    &__container{
    margin: 0px 27px 0px 37px;
}
    &__title{
        color: $color-gray;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__section{
 &__posts{
    &--hidden{
        display: none;
    }
    &__images{
        width: 50%;
    }
    &__title{
        margin-top: 11px;
        margin-bottom: 0px;
        color: $color-gray;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
     
    }
    &__comments{
        margin-bottom: 28px;
        color: $color-silver;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
          
    }
    &__description{
        display: none;
    }
 }   
}
}

@media (min-width:768px){
    .main{
        
   
        &__section{

     &__posts{

        display: flex;
        margin-bottom: 32px;
        &--hidden{
            display: flex;
        }
        &__images{
           width:160px ;
        }
        &__title{
            margin-top: 0;
            margin-left:  20px ;
        }
        &__comments{
            margin-left:  20px ;
       }
        &__description{
            display: inline-block;
            margin-left:  20px ;
            width: 75%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: $color-monsoon;
        }
     }   
    }
}

}

@media (min-width:1200px){
    .main{
        
   
        &__section{
display: flex;
flex-wrap: wrap;
     &__posts{
         width: 50%;
       
        &__description{
          width: 90%;
          margin-right: 25px;
        }
     } 
    }  
    }


}