.container{
    display: flex;
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background-color: rgba(192, 192, 192, 0.523);
 justify-content: center;
 align-items: center;
}


.content-modal-1{
    padding: 30px;
    background-color: white;
    position: relative;
}
.close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}