.form-container{
   position: absolute;
   background-color: bisque; 
   max-width: 250px;
 right: 0;
 text-align: center;
}
.form-title{
    font-size: large;
    font-weight: bold;
    color:rgb(37, 62, 46);
    margin: 20px;
    margin-top: 0;
}
.form-row{
    display: flex;
    flex-direction: column;
    align-items: center
}
input{
    /* margin-bottom: 20px; */
}
.error{
    color: red;
}