body {
  background-color: silver;
}
.cards {
  border: 2px solid silver;
  background-color: white;

  border-radius: 25% 10%;
  width: 300px;
  text-align: center;
  height: 500px;
}
.container {
  margin: 0;
  padding: 0;
}
.container--basket {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
}
.cards--name {
  color: rgb(28, 28, 28);
  font-size: 30px;
  font-weight: 500;
}
.counetr--like {
  color: white;
}
.counetr--basket {
  color: white;
}
.cards--color {
  color: rgb(113, 113, 113);
}
.cards--id {
  color: silver;
}
.cards--price {
  color: rgb(68, 180, 102);
  font-size: 30px;
  font-weight: 500;
}
.list--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.cards-img {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-left: 13px;
}
.nav {
  display: block;
  background-color: rgb(138, 138, 138);
}
.nav--favorit {
  display: flex;
}
.logo {
  color: rgb(114, 234, 110);
  font-size: 30px;
  margin-left: 30px;
}
.cards--btn--clouse {
  color: rgb(0, 0, 0);
  background-color: antiquewhite;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.list--cards-basket{
  display: flex;
  flex-direction: column;
  align-items: center;
}