body{
    background-color: #ffff;
}
.page-title-link{
    text-decoration: none;
    margin-top: 63px;
    }
    .title{
        color: #000;
      
    font-size: 80px;
    line-height: 94px;
    margin: 63px 0px 38px 0px;
    }
    .paga-title{
        color: #4BCAFF;
    }
    .header-nav-item{
        display: flex;
       background: #35444F;
       list-style: none;
       height: 72px;
       justify-content: center;
       align-items: center;
       margin: 0;
       
      
    }
    .main-content{
        display: flex;
        justify-content: space-between;
    
    
    
    }
    .page-img{
        
        border: 2px solid black;
        width: 855px;
        height: 530px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }
    .image{
        width: 320px;
        height: 381px;

    }
   
    .header-nav-link{
        color: #ffff; 
        text-decoration: none;
        font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #ffff;
    border-right: 1px solid #ffff;
    padding: 24px;
    }
    .header-nav-list{
        text-decoration: none;
        list-style: none;
        
        
    margin: 0;
    padding: 0;
    
        
    
    }
    
    
    .header-menu{
        margin-bottom: 48px;
    
    }
    
    .container ,.main-content{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
    
    
    }
    .link-dropdown{
        color: #495863;
        display:block;
        text-decoration: none; 
       
       
        margin: 0;
        
       
        font-size: 27px;
        line-height: 27px;
        padding-left: 44px;
        padding-top:25px;
        padding-bottom: 28px;
    
    
    }
        
        
   
    .page-text{
        color: #2C2C2C;
        width: 855px;
        font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    }
    .footer-nav{
       margin-top:54px ; 
    margin-bottom: 30px;
    
    }
    .footer-nav-list{
        display: flex;
    list-style: none;
    padding: 0;
    
        
    }
    .footer-nav-container{
        display: flex;
        justify-content: space-between;
        background: rgba(99, 105, 110, 0.48);
    }
    
    .link-footer{
        text-decoration: none;
        color:  #0C1927;
        font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    margin-left: 40PX;
    }
    .footer-copyr{
        color: #010101;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        padding-right: 40px;
    }
    .dropdown-menu{
        min-width: 345px;
        max-height: 400px;   
        border: 1px solid black;
    
    margin: 0;
    padding: 0; 
    }
    .main-text{
        margin: 0;
        max-width: 885px;
    }
.header-nav-link:hover{
    background-color:#222F3A;
    transition: 0.3s;
}
.link-footer:hover{
    text-decoration: underline;
    color:#3181A6;
    transition: 0.3s;
}
.link-dropdown:hover{
    background: #DBDBDB;
    /* text-align: center; */
    padding-left: 65px;
    /* padding: 0; */
    color: #35444F;
    font-weight: bold;
font-size: 27px;
line-height: 27px;
transition: 0.3s;

}
    
.btn-toggle{
    background-color: rgb(219, 105, 33);
    padding: 20px;
color: rgb(83, 80, 255);
border-radius: 7px;
border: 0;
}


.btn-toggle:hover{
    background-color: aquamarine;
    color: aliceblue;
}


/* Стили Тёмной темы */
.invert {
    filter:sepia(100%);
    
   }
    